<div class="gradiants">
<nav class="navbar navbar-light justify-content-center">
  <a class="navbar-brand" href="#">
    <img src="/assets/logo.png" width="300" height="60" alt="">
  </a>
</nav>

  <div class="row">
    <div class="col-4">
      <img src="/assets/1.png" width="400" height="600" alt="">
    </div>
    <div class="col-8" style="font-family: Times New Roman">
      <p><b>C.R.I. PUMPS WINS THE NATIONAL ENERGY CONSERVATION AWARD 2018 for the 4th time.</b></p>
      <div class="container" style="width:95%">
        <ul class="list-group">
          <li>C.R.I.'s energy efficient products are well recognized by various Government Institutions, as trustworthy
            products for various projects across the globe to save energy.</li>
          <li>C.R.I. is the highest contributor in the country for the projects of EESL (Energy Efficiency Services
            Limited)
            to replace the old inefficient pumps with 5 Star rated energy efficient smart pumps with IoT enabled control
            panel. </li>
        </ul>
      </div>
      <img src="/assets/2.png" width="800" height="400" alt="">
      <p>Government of India has awarded the <b>"National Energy Conservation Award 2018"</b>. Mr. G. Selvaraj, Joint
        Managing Director of C.R.I. Group received the award from Smt. Sumitra Mahajan, Speaker of Lok Sabha & Shri. Raj
        Kumar Singh, Honorable Minister of State.</p>
    </div>
  </div>
  <p class="container-fluid" style="font-family: Times New Roman; font-size: 15px;">INSTALLED OVER 10 LAKHS STAR RATED PUMPSETS ACROSS THE
    COUNTRY
    RESULTING IN A CUMULATIVE SAVING OF MORE THAN 9,000 MILLION UNITS OF POWER FOR THE NATION. </p>
  <img class="center" src="/assets/3.png" width="800" height="400" alt="">
  <br>
  <p style="font-family: Times New Roman; font-size: 13px; text-align: center;">Valves - Pumps - Pipes - IoT Drives &
    Controllers - Wires & Cables - Solar Systems - Motors</p>
  <hr style="border: 1px solid rgb(245, 50, 50);">
  <p style="font-family: Times New Roman; font-size: 13px; text-align: center;"><b>C.R.I. FLUID SYSTEMS PRODUCTS CATER
      TO
      DIVERSE SEGMENTS</b></p>
  <ul>
    <li class="pipe1 pipe2">CHEMICALS & PROCESS</li>
    <li class="pipe1 pipe2">POWER</li>
    <li class="pipe1 pipe2">WATER & WASTE WATER</li>
    <li class="pipe1 pipe2">OILS & GAS</li>
    <li class="pipe1 pipe2">PHARMA</li>
    <li class="pipe1 pipe2">SUGARS & DISTILLERIES</li>
    <li class="pipe1 pipe2">PAPER & PULP</li>
    <li class="pipe1 pipe2">MARINE & DEFENCE</li>
    <li class="pipe1 pipe2">METAL & MINING</li>
    <li class="pipe1 pipe2">FOOD & BEVERAGE</li>
    <div style="text-align:center;">
      <li class="pipe1 pipe2">PETROCHEMICAL & REFINERIES</li>
      <li class="pipe1 pipe2">SOLAR</li>
      <li class="pipe1 pipe2">BUILDING</li>
      <li class="pipe1 pipe2">HVAC</li>
      <li class="pipe1 pipe2">FIRE FIGHTING</li>
      <li class="pipe1 pipe2">AGRICULTURE & RESIDENTIAL</li>
    </div>
  </ul>

  <nav class="navbar navbar-expand bg-danger navbar-dark" style="color: seashell;">
    <div class="col-md-4">
      <i class="fas fa-phone-square-alt">Toll free 1800 200 1234</i>
    </div>
    <div class="col-md-4">
      <i class="fab fa-facebook">www.facebook.com/cripumps</i>
    </div>
    <div class="col-md-4">
      <i class="fas fa-globe">www.crigroups.com</i>
    </div>
  </nav>
</div>